@font-face {
    font-family: 'Faktum';
    src: url('../assets/fonts/webformats-no-subsetting/faktum-light.woff2') format('woff2'),
        url('../assets/fonts/webformats-no-subsetting/faktum-light.woff') format('woff'),
        url('../assets/fonts/webformats-no-subsetting/faktum-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Faktum';
    src: url('../assets/fonts/webformats-no-subsetting/faktum-regular.woff2') format('woff2'),
        url('../assets/fonts/webformats-no-subsetting/faktum-regular.woff') format('woff'),
        url('../assets/fonts/webformats-no-subsetting/faktum-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Faktum';
    src: url('../assets/fonts/webformats-no-subsetting/faktum-semibold.woff2') format('woff2'),
        url('../assets/fonts/webformats-no-subsetting/faktum-semibold.woff') format('woff'),
        url('../assets/fonts/webformats-no-subsetting/faktum-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Faktum';
    src: url('../assets/fonts/webformats-no-subsetting/faktum-bold.woff2') format('woff2'),
        url('../assets/fonts/webformats-no-subsetting/faktum-bold.woff') format('woff'),
        url('../assets/fonts/webformats-no-subsetting/faktum-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Faktum';
    src: url('../assets/fonts/webformats-no-subsetting/faktum-extrabold.woff2') format('woff2'),
        url('../assets/fonts/webformats-no-subsetting/faktum-extrabold.woff') format('woff'),
        url('../assets/fonts/webformats-no-subsetting/faktum-extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap'); */