// color variables

$foreground-color: #091311;
$background-color: rgba(0, 255, 162, 1);

// typography sizes
// all based on 1rem = 16px

$font-size-copy: 1rem;
$font-size-copy-large: 1.125rem;
$font-size-highlight: 1.5rem;
$font-size-title-small: 2rem;
$font-size-title-medium: 2.5rem;
$font-size-title-large: 3rem;
$font-size-title-huge: 4rem;