@charset "utf-8";

	/*
	-------------------------------------------------------------------------
	
	 res.CSS 1.0.3
	 Creative Commons Licence

	 2009 Mikael Carrara (mikaelcarrara.com)
	 Version: 1.0.3 / 2009-01-11 23:34 (Dom, 11 Jan 2009)
	
	-------------------------------------------------------------------------
	*/


	/* Screen */

	body, h1, h2, h3, h4, h5, form, fieldset, table, hr, blockquote, del, 
	ins, dfn, small, code, pre, sup, sub, p, em, strong, abbr, acronym, q, cite, a, img, label {
	padding:0; margin:0; border:0;
	vertical-align:baseline; font-style:normal;
	}
	
	html {font-size:62.5%}
	
	h1 {font-size:2.2em}
	h2 {font-size:2.0em}
	h3 {font-size:1.8em}
	h4 {font-size:1.6em}
	h5 {font-size:1.4em}
	
	p {margin:20px 0 20px 0}
	
	label {cursor:pointer}
	table {border-collapse:collapse; border-spacing:0; text-align:left}
	
	em {font-style:italic}
	strong, b {font-weight:bold}
	abbr, acronym {cursor:help}

	img {border:none}
	hr {background-color:#5f5f5f; color:#5f5f5f; height:1px}

	code, pre {
	font:1.0em "Courier New", Courier, monospace;
	padding:5px 0 5px 20px;
	display:block;
	}
	
	del {text-decoration:line-through}
	ins, dfn {border-bottom:1px solid #5f5f5f}
	small, sup, sub {font-size:80%; color:#000}

	blockquote, q, cite {padding:5px 0 5px 20px;font-style:italic}
	blockquote p {font-style:italic}
	
	blockquote, q {quotes:"" ""}
	blockquote:before, blockquote:after, q:before, q:after {content:""}
	
	a, a:hover, a:active {cursor:pointer}
	